
@mixin container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em auto;
    padding: 1em;
}
.container {
    @include container;
}

.container-lg {
    @include container;
    width: 150%;
    max-width: 1400px;
    margin: inherit 0;
    padding: inherit 0;
}

