
@mixin container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em auto;
    padding: 1em;
}
.container {
    @include container;
    &_carousel{
        height: 100vh;
    }
}

.carousel{
    height: 75vh;
}

.container-lg {
    @include container;
    width: 100%;
    margin: 0;
    padding: 0;
}

// #wpcf7-f68-o1 {
//     background-color: purple;
//     // margin: 10em;
//   }

// .wpcf7-form .init{
//     background-color: green;
// }

// .wpcf7 input[type="text"],
// .wpcf7 input[type="email"],
// .wpcf7 input[type="tel"],
// textarea{
// 	font-size:10px;
// 	// background-color:blue;
// 	border:none;
// }

// .wpcf7 .label{
//     font-size: 100px;
// }

