@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0.75em;
}

a {
  color: #353535;
}

html, body, nav, footer, header, main {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html header, body header, nav header, footer header, header header, main header {
  background-color: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  position: absolute;
  left: 10px;
}

main {
  height: -moz-fit-content;
  height: fit-content;
}

body {
  overflow-x: hidden;
  z-index: 20;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px dotted #fffffe;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
}
.container h2 {
  color: #fffffe;
}

.naked-container {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
}
.naked-container h2 {
  color: #fffffe;
}

.--purple {
  background-color: #b8c1ec;
}

.--darkblue {
  background-color: #232946;
}

section {
  width: 100%;
  background-color: #f3f3f3;
  margin: 0;
  padding: 1em;
}

section.--darkblue h1 {
  color: #b8c1ec;
}
section.--darkblue .container > .btn {
  background-color: #b8c1ec;
  background: #b8c1ec;
}
section.--darkblue .container > .btn:hover {
  background-color: #a4afe7;
}
section.--purple h1 {
  color: #232946;
}
section.--purple .container > .btn {
  background-color: #232946;
  background: #232946;
  color: #fffffe;
}
section.--purple .container > .btn:hover {
  background-color: #313961;
}

.container {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  max-width: 1200px;
}
.container h2 {
  color: #fffffe;
}

.container-sm {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
  width: 80%;
  max-width: 900px;
}
.container-sm h2 {
  color: #fffffe;
}

.container-lg {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
  width: 150%;
  max-width: 1400px;
  margin: inherit 0;
  padding: inherit 0;
}
.container-lg h2 {
  color: #fffffe;
}

.title-container {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
  background: none;
  background-color: none;
  box-shadow: none;
  padding: 0;
  margin: 1em auto;
}
.title-container h2 {
  color: #fffffe;
}
.title-container h2 {
  color: #fffffe;
}
.title-container .btn {
  padding: 0 auto;
  margin: 0;
}
.title-container h1 {
  font-family: "Shrikhand", Courier, monospace;
}

.but-container {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  padding: 1em;
  background: #fffffe;
  box-sizing: border-box;
  border-radius: 3px;
  background: none;
  background-color: none;
  box-shadow: none;
  padding: 0;
  margin: 1em auto;
  align-items: end;
}
.but-container h2 {
  color: #fffffe;
}
.but-container h2 {
  color: #fffffe;
}
.but-container .btn {
  padding: 0 auto;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container__title {
    color: #353535;
  }
  .container-small {
    max-width: 800px;
  }
  .container-small__title {
    color: #353535;
  }
}
#main {
  margin-bottom: 0px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

header,
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fffffe;
  background-color: #353535;
  justify-content: flex-start;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer ul li {
  margin: 0;
}
footer ul li .fa-solid fa-list-ul {
  margin-left: 0;
  background-color: greenyellow;
}

@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 10em;
    padding-bottom: 3em;
    padding-top: 5em;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5em;
  }
  footer img {
    height: 2em;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  footer ul li image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul li .fa-solid fa-list-ul {
    margin-left: 0;
  }
}
.shrikhand {
  font-family: "Shrikhand", cursive;
  margin-left: 0;
  font-size: 24px;
  color: #353535;
}

.card {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  flex-direction: inherit;
  display: flex;
  flex-direction: column;
  border: 0.3em solid;
  padding: 0;
  margin: 0.75em auto;
  border-radius: 3px;
  width: 20%;
}

.cards {
  box-shadow: none;
  display: flex;
  border: none;
  background-color: none;
  background: none;
}
.cards__card {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  flex-direction: inherit;
  display: flex;
  flex-direction: column;
  border: 0.3em solid;
  padding: 0;
  margin: 0.75em auto;
  border-radius: 3px;
  width: 20%;
}
.cards__card__title {
  font-size: 32px;
  padding: 0;
  font-weight: bold;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: auto;
  background-color: aquamarine;
}
.cards__card__subtitle {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.3s ease;
  background-color: bisque;
}
.cards__card__body {
  font-size: 12px;
}
.cards__card__body a {
  text-decoration: underline;
}
.cards__card__icons {
  width: 10%;
  display: flex;
  justify-content: center;
}
.cards__card__tag {
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.5em;
  color: #d1eeeb;
  background-color: #99e2d0;
  max-width: inherit;
}
.cards__card__img {
  display: block;
  width: 100%;
  height: 13em;
  overflow: hidden;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 20px 20px 0 0;
}
.cards__card__img img {
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 23.4em;
  max-height: -webkit-fill-available;
}
.cards__card__content {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #f3f3f3;
}
.btn p {
  color: #004687;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #f3f3f3;
}
.btn-primary p {
  color: #004687;
}
.btn-primary:hover {
  background-color: #e6e6e6;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #f3f3f3;
}
.btn-outlined-primary p {
  color: #004687;
}
.btn-outlined-primary:hover {
  background-color: #f3f3f3;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #004687;
}
.btn-secondary p {
  color: #004687;
}
.btn-secondary:hover {
  background-color: #00396e;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #004687;
}
.btn-outlined-secondary p {
  color: #004687;
}
.btn-outlined-secondary:hover {
  background-color: #004687;
}

.btn-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #d6a319;
}
.btn-third p {
  color: #004687;
}
.btn-third:hover {
  background-color: #bf9216;
}

.btn-outlined-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #d6a319;
}
.btn-outlined-third p {
  color: #004687;
}
.btn-outlined-third:hover {
  background-color: #d6a319;
}

.btn-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #e4f0ff;
}
.btn-fourth p {
  color: #004687;
}
.btn-fourth:hover {
  background-color: #cbe2ff;
}

.btn-outlined-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #e4f0ff;
}
.btn-outlined-fourth p {
  color: #004687;
}
.btn-outlined-fourth:hover {
  background-color: #e4f0ff;
}

.btn-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #003a68;
}
.btn-fifth p {
  color: #004687;
}
.btn-fifth:hover {
  background-color: #002c4f;
}

.btn-outlined-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #003a68;
}
.btn-outlined-fifth p {
  color: #004687;
}
.btn-outlined-fifth:hover {
  background-color: #003a68;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #9356dc;
}
.btn-purple p {
  color: #004687;
}
.btn-purple:hover {
  background-color: #8641d8;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #9356dc;
}
.btn-outlined-purple p {
  color: #004687;
}
.btn-outlined-purple:hover {
  background-color: #9356dc;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #ff79da;
}
.btn-pink p {
  color: #004687;
}
.btn-pink:hover {
  background-color: #ff60d3;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #ff79da;
}
.btn-outlined-pink p {
  color: #004687;
}
.btn-outlined-pink:hover {
  background-color: #ff79da;
}

.btn-bluelighter {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #020024;
}
.btn-bluelighter p {
  color: #004687;
}
.btn-bluelighter:hover {
  background-color: #01000b;
}

.btn-outlined-bluelighter {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #020024;
}
.btn-outlined-bluelighter p {
  color: #004687;
}
.btn-outlined-bluelighter:hover {
  background-color: #020024;
}

.btn-bluelighter2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #090979;
}
.btn-bluelighter2 p {
  color: #004687;
}
.btn-bluelighter2:hover {
  background-color: #070761;
}

.btn-outlined-bluelighter2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #090979;
}
.btn-outlined-bluelighter2 p {
  color: #004687;
}
.btn-outlined-bluelighter2:hover {
  background-color: #090979;
}

.btn-bluelighter3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #00D4FF;
}
.btn-bluelighter3 p {
  color: #004687;
}
.btn-bluelighter3:hover {
  background-color: #00bfe6;
}

.btn-outlined-bluelighter3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #00D4FF;
}
.btn-outlined-bluelighter3 p {
  color: #004687;
}
.btn-outlined-bluelighter3:hover {
  background-color: #00d4ff;
}

.btn-bluelighter4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #b8c1ec;
}
.btn-bluelighter4 p {
  color: #004687;
}
.btn-bluelighter4:hover {
  background-color: #a4afe7;
}

.btn-outlined-bluelighter4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #b8c1ec;
}
.btn-outlined-bluelighter4 p {
  color: #004687;
}
.btn-outlined-bluelighter4:hover {
  background-color: #b8c1ec;
}

.btn-bluelighter5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #232946;
}
.btn-bluelighter5 p {
  color: #004687;
}
.btn-bluelighter5:hover {
  background-color: #1b1f35;
}

.btn-outlined-bluelighter5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #232946;
}
.btn-outlined-bluelighter5 p {
  color: #004687;
}
.btn-outlined-bluelighter5:hover {
  background-color: #232946;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: blue;
}
.btn-info p {
  color: #004687;
}
.btn-info:hover {
  background-color: #0000e6;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid blue;
}
.btn-outlined-info p {
  color: #004687;
}
.btn-outlined-info:hover {
  background-color: blue;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: red;
}
.btn-error p {
  color: #004687;
}
.btn-error:hover {
  background-color: #e60000;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid red;
}
.btn-outlined-error p {
  color: #004687;
}
.btn-outlined-error:hover {
  background-color: red;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #353535;
}
.btn-black p {
  color: #004687;
}
.btn-black:hover {
  background-color: #282828;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #353535;
}
.btn-outlined-black p {
  color: #004687;
}
.btn-outlined-black:hover {
  background-color: #353535;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fffffe;
}
.btn-white p {
  color: #004687;
}
.btn-white:hover {
  background-color: #ffffe5;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #fffffe;
}
.btn-outlined-white p {
  color: #004687;
}
.btn-outlined-white:hover {
  background-color: #fffffe;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #f6f6f6;
}
.btn-grey p {
  color: #004687;
}
.btn-grey:hover {
  background-color: #e9e9e9;
}

.btn-outlined-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #f6f6f6;
}
.btn-outlined-grey p {
  color: #004687;
}
.btn-outlined-grey:hover {
  background-color: #f6f6f6;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #99e2d0;
}
.btn-green p {
  color: #004687;
}
.btn-green:hover {
  background-color: #85dcc7;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #99e2d0;
}
.btn-outlined-green p {
  color: #004687;
}
.btn-outlined-green:hover {
  background-color: #99e2d0;
}

.btn-icon {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #7e7e7e;
}
.btn-icon p {
  color: #004687;
}
.btn-icon:hover {
  background-color: #717171;
}

.btn-outlined-icon {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #7e7e7e;
}
.btn-outlined-icon p {
  color: #004687;
}
.btn-outlined-icon:hover {
  background-color: #7e7e7e;
}

.btn-greenfont {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #d1eeeb;
}
.btn-greenfont p {
  color: #004687;
}
.btn-greenfont:hover {
  background-color: #bee7e3;
}

.btn-outlined-greenfont {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #d1eeeb;
}
.btn-outlined-greenfont p {
  color: #004687;
}
.btn-outlined-greenfont:hover {
  background-color: #d1eeeb;
}

.btn-lightgreen {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #d1eeeb;
}
.btn-lightgreen p {
  color: #004687;
}
.btn-lightgreen:hover {
  background-color: #bee7e3;
}

.btn-outlined-lightgreen {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 400ms;
  font-weight: 500;
  background-color: #fff;
  border: 0.3em solid #d1eeeb;
}
.btn-outlined-lightgreen p {
  color: #004687;
}
.btn-outlined-lightgreen:hover {
  background-color: #d1eeeb;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation: hide-spinner 0.5s 1.5s forwards;
  margin: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.5s linear infinite;
}

@keyframes hide-spinner {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
body {
  background: #e4f0ff;
}/*# sourceMappingURL=app.css.map */